@keyframes slidein {
    from {
        color: #636363a4;
        position: relative;
        
        transform: translateY(-10%);
        opacity: 0.1;
        margin-bottom: 60%;
    }

    to {
        color: #777777;
        position: relative;
        transform: translateY(0);
        
        opacity: 1;
        margin-bottom: 0%;
        
    }    
}

@keyframes reverse-slidein {
    from {
        color: #636363a4;
        position: relative;
        
        transform: translateY(120%);
        opacity: 0.1;
        margin-bottom: 60%;
    }

    to {
        color: #777777;
        position: relative;
        transform: translateY(0);
        
        opacity: 1;
        margin-bottom: 0%;
    }    
}

@keyframes Fade-in {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}